*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
header{
    height: 500px;
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.topbar{
    height: 34px;
    margin-top: 10px;
    border: 1px solid white;
}
.logo, .accedi{
    width: 25%;
    height: 100%;
    border: 1px solid white;
}
.menu{
    width: 50%;
    height: 100%;
    border: 1px solid white;
    text-align: center;
}
.menu ul li, .accedi{
    list-style: none;
    color: white;
    display: inline-block;
    line-height: 34px;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.accedi{
    margin-right: 0;
    text-align: right;
}
.bottone-accedi{
    background-color: white;
    height: 100%;
    width: 50px;
}


