*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
.fl{
    float: left;
}
header{
    height: 500px;
    background-image: url(./img/jumbo.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.topbar{
    height: 34px;
    margin-top: 20px;
}
.logo, .accedi{
    width: 25%;
    height: 100%;
}
.menu{
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 16px;
}
.menu ul li a{
    color: white;
}
.menu ul li, .accedi{
    list-style: none;
    color: white;
    display: inline-block;
    line-height: 34px;
    margin-right: 20px;
    text-decoration: none;
}
.bottone-accedi a{
    color: black;
    font-size: 16px;
}
.accedi{
    margin-right: 0;
}
.bottone-accedi{
    background-color: white;
    height: 100%;
    width: 80px;
    border-radius: 30px;
    text-align: center;
    margin-left: 80%;
}
.testo-1{
    text-align: center;
    color: white;
    width: 60%;
    margin: 150px auto;
}
.testo-1 h1{
    padding-bottom: 20px;
    font-size: 50px;
}
.buttons{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.button-white a{
    color:black;
}
.button-black a{
    color: white;
}
.button-white{
    width: 150px;
    height: 40px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 30px;
}
.button-black{
    width: 250px;
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border-radius: 30px;
}
.container-2{
    max-width: 1200px;
    margin: 100px auto;
}
.testo-2{
    width: 250px;
    height: 400px;
    margin: 100px 0 0 100px;
}
.testo-2 h2, .testo-3 h2, .testo-4 h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.container-3{
    width: 100%;
    margin: 100px auto;
}
.sfondo{
    background-color: rgb(236, 230, 230);
    padding: 40px;
}
.testo-3{
    width: 300px;
    height: 300px;
    margin: 100px 100px 0 0;
}
.testo-4{
    max-width: 300px;
    height: 300px;
    margin: 100px 0 0 100px;
}
.testo-3 p, .testo-2 p, .testo-1 p, .testo-4 p{
    font-size: 20px;
}

